@font-face {
   font-family: "Exo";
   src: url("../fonts/Exo2.0-Thin.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

@font-face {
   font-family: 'Trebuchet MS';
   src: url('../../fonts/trebuc.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: block;
}